.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    width: 100%;
}


.logo, .tabs{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 50px;
}

.tabs {
    gap: 35px;
}

.logo-icon {
    width: auto;
    height: auto;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Inria Sans', sans-serif;
}

.contact-button, .nav-link {
    font-size: 25px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: bold;

}

