:root {
  background-color: black;
  font-family: "Jersey 25", sans-serif;
  /* padding: 15px 30px; */
}

.title {
  font-weight: 400;
  background: linear-gradient(to bottom, #FFFFFF 0%, #E0BAD0 48%, #C6A3FF 100%);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
}

button {
  background-color: #E0BAD0;
  border-radius: 15px;
  color: black;
  padding: 8px 20px;
  border: none;
  font-family: "Inria Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.subtitle {
  color: #FFE7EE;
  font-weight: 400;
  font-size: 35px;
}

.subtitle2 {
  color: #C6A3FF;
  font-weight: 400;
  font-size: 25px;
}